<html>
  <body>
    <form action="/shujujiaoyan" enctype="multipart/form-data" method="post">
      <p style="color:red" align="center"><strong>数据校验</strong></p>
      <hr />
      <p style="color:blue">成本中心:</p><input name="cbzx" type="file"><br>
      <hr />
      <p style="color:blue">简易合同：</p><input name="jyht" type="file"><br>
      <hr />
      <p style="color:blue">客户主数据：</p><input name="khzsj" type="file"><br>
      <hr />
      <p style="color:blue">供应商主数据：</p><input name="gyszsj" type="file"><br>
      <hr />
      <p style="color:blue">银行主数据：</p><input name="yhzsj" type="file"><br>
      <hr />
      <p style="color:blue">辅助核算：</p><input name="fzhs" type="file"><br>
      <hr />
      <p style="color:blue">资产卡片：</p><input name="zckp" type="file"><br>
      <hr />
      <p align="center"><input type="submit" value="提交" style="color:red" align="center"></p>
    </form>
  </body>
</html>
